<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ma liste de courses</ion-title>
    <ion-buttons end>
      <button ion-button icon-only large (click)="addArticle()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div *ngIf="tabLength > 0; else elseBlock">
    <!--Iteration on Categories -->
    <ion-list *ngFor='let cat of tabListe'>
      <ion-list-header color="primary">     
        {{ cat.categorie }}
      </ion-list-header>
      <!--Iteration on Articles -->
      <ion-item  *ngFor='let detail of cat.sTab'>           
        <div class='art' (tap)='editQty($event, detail)'>
          {{ detail.article }}
        </div>
        <div class='quantite' item-end (tap)='editQty($event, detail)'>
          {{detail.qty}}
        </div>
        <button ion-button icon-only clear item-end (tap)="removeArticle($event, detail)">
          <ion-icon name="close"></ion-icon>
        </button>           
      </ion-item>     
    </ion-list>
  </div>
  <ng-template #elseBlock>
    <button ion-button block (click)="addArticle()">Ajouter un article</button>
  </ng-template>
</ion-content>