<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ma liste de courses</ion-title>
    <ion-buttons end>
      <button ion-button icon-only large (click)="addArticle()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <!-- <ion-searchbar placeholder="Rechercher" (ionInput)="filterArticles($event)" [showCancelButton]="true" [autocomplete]="on"
    [spellcheck]="true" [(ngModel)]='filterContain'>
  </ion-searchbar> -->

</ion-header>

<ion-content padding>

 <!--  <ion-card>
    <ion-scroll scrollY="true"> -->
      <!--Iteration on Categories -->
      <ion-list *ngFor='let cat of tabListe'>
        <ion-list-header color="primary">     
          {{ cat.categorie }}
        </ion-list-header>
          <ion-item  *ngFor='let detail of cat.sTab'>           
            {{ detail.article }}  
            <div class='quantite' item-end>{{detail.qty}}</div>
              <button ion-button icon-only clear item-end (tap)="removeArticle($event, detail)">
                <ion-icon name="close"></ion-icon>
              </button>           
          </ion-item>     
      </ion-list>
    <!-- </ion-scroll>
  </ion-card> -->
</ion-content>