<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="options"></ion-icon>
    </button>
    <ion-title>Ma liste de courses</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-divider>
      Item Divider 1
    </ion-item-divider>
    <button ion-item *ngFor="let item of items" (click)="afficher()">
      <ion-icon name="ios-close" item-end></ion-icon>
      {{item.title}}
      
    </button>
    <ion-item-divider>
      Item Divider
    </ion-item-divider>
    <ion-item>
      Item 3
    </ion-item>
    <ion-item>
      Item 4
    </ion-item>

    <ion-item *ngFor="let item of items" (click)="afficher()">
      {{item.title}}
      
        {{item.note}}
      
      <button ion-button icon-only item-end>
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-item>

  </ion-list>


</ion-content>
